:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #434455;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 0.7);
    --white-background: #FFFFFF;
    --modal-background: #FCFCFC;
}

/* Styles for index.html */
body {
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-background);
}

/* Header */
.page-header {
    background: var(--white-background);
}
/* Site navigation */
.logo {
    text-decoration: none;
    font-family: 'Raleway' sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-brand);

}

.logo-color {
    color: var(--dark);
}

.list {
    list-style: none;
}

.list .link {
    color: var(--dark);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0,02em;
}
.list .link:focus,
.list .link:hover {
    color: var(--pressed-state);

}

.address-nav .link {
    text-decoration: none;
    font-style: normal;
    color: var(--text);
    line-height: 1.5;
    letter-spacing: 0,02;
}

.address-nav .link:focus,
.address-nav .link:hover {
    color: var(--pressed-state);
}

/* Hero */
/* 1st section */
.hero {
    background: var(--dark);
}
.hero-title {
    color: var(--white-background);
    letter-spacing: 0.02em;   
}
.button {
    cursor: pointer;
    color: var(--white-background);
    background: var(--primary-brand);
    line-height: 150%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
    background: var(--pressed-state);
}

/* 2nd section */

 .princip-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
 }

.princip-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtle-text)
}

/* 3d section */

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}

/* 4 section */
.team {
    background-color: var(--light);
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
}
.team-card {
    background-color: var(--white-background);
}

.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.team-function{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtle-text);
}

/* Footer */
.footer {
    background-color: var(--dark);

}
.footer-text {
    line-height: 1,5;
    letter-spacing: 0,02em;
    color: var(--light);
}
.footer-logo-color {
    color: var(--light);
}

/* Styles for portfolio.html */
.portfolio-nav .link {
    text-decoration: none;
}

.nav-button {
    cursor: pointer;
    color: var(--primary-brand);
    background: var(--light);
    border: 1px solid var(--accent);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;    
}

.nav-button:hover,
.nav-button:focus {
    background: var(--pressed-state);
}

.portfoliocard-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: var(--dark);  
}

.portfoliocard-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: var(--subtle-text);
    
}

